multichat/
*_venv/
**/.env

*.wav
*.pcm

uv.lock

.streamlit/secrets.toml

*.mp3
transcription*.txt

helpers/__pycache__/*
__pycache__/

Z_Tests/.env
Z_Tests/test/
Z_Tests/Stripe/
Z_Tests/Auth_sqlite/data.db

Taipy/

ppt/