GROQ_API_KEY=gsk_.....
AVAILABLE_LLM_MODELS = meta-llama/llama-4-scout-17b-16e-instruct,deepseek-r1-distill-llama-70b,qwen-qwq-32b,llama-3.3-70b-versatile,meta-llama/llama-4-maverick-17b-128e-instruct,llama3-8b-8192,llama-guard-3-8b,llama-3.1-8b-instant,gemma2-9b-it,llama3-70b-8192,mistral-saba-24b