pandas==2.1.0 #https://pypi.org/project/pandas/#history
langchain==0.0.279 #https://pypi.org/project/langchain/#history
openai==0.28
tabulate==0.9.0

#pip install -r requirements.txt #all at once 
#Working with Python 3.11